.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
/*/build/

*.dex
*.class
*.apk

*.iml
*.iws
*.ipr
.idea/
.gradle/
local.properties
*/build/
gradle/
gradlew
gradlew.bat
